@font-face {
  font-family: 'SuzukiPRO';
    src: url('../assets/fonts/SUZUKIPROREGULAR.woff') format('woff'),
      url('../assets/fonts/SUZUKIPROREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SuzukiPRO';
    src: url('../assets/fonts/SUZUKIPROBOLD.woff') format('woff'),
      url('../assets/fonts/SUZUKIPROBOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.plantilla2-root {
  font-family: 'SuzukiPRO', Arial, sans-serif;
}
